@model CarApp.Models.Car;
@{
    ViewData["Title"] = "Car Page";
}

<div class="text-center" style="background-color: @Model.Background">
    <h3 class=" display-4">Car Model: @Model.CarModel </h3>
    <h3 class=" display-4">Year: @Model.Year </h3
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>